* {
    text-decoration:none;
}
.card {
    display:flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height:200px;
    font-size:30px;
    border:0px solid white;
    border-radius: 30px;
    padding: 10px;
    background-color: #2B2D42;
    box-shadow:11px 6px 22px -1px rgba(0,0,0,0.6);
}

.card:hover {
    background-color: rgba(255,255,255,0.2);
    color:black;
    text-decoration: underline;
}

