@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
    margin:0px;
    text-decoration: none;
}

.allcontainer {
    width:100%;
}
.firstcontainer {
    font-family: "Kdam Thmor Pro", sans-serif;
    font-weight: 1000;
    font-size: 90px;
    display:flex;
    flex-direction: column;
    align-items: center;
    color:#B9FFB7;
}

.title {
    margin-top:10px;
    text-decoration: underline;
    margin-bottom: 50px;
    padding:10px;
    border:#B9FFB7 10px solid;
}

.subtitle {
    font-size:50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.cardcontainer {
    display:flex;
    width:100%;
    justify-content: space-around;
}

@media (max-width: 550px) {
    .cardcontainer {
        display:flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 30px;
    }
}

